---
permalink: /category/g-suite/
---

{% assign g-suite = site.posts | where: "categories", "g suite" | sort: "title" %}

<h2>G Suite <span class="count">({{ 'g suite' | size }})</span></h2>
 

<section class="category">
    <ul class="listing">
       {% for post in "site.categories.g-suite" %}
          <li>
            <h3><a href="{{ site.baseurl }}{{ post.url }}">{% include document-icon.html icon=post.type %}{{ post.title }}</a></h3>
            <p class="description">{{ post.description }}</p>
          </li>
       {% endfor %}
    </ul>
</section>
