---
permalink: /category/internet/
---

{% assign internet = site.posts | where: "categories", "intenet" | sort: "title" %}

<h2>Internet <span class="count">({{ internet | size }})</span></h2>
 

<section class="category">
    <ul class="listing">
       {% for post in site.categories.internet %}
          <li>
            <h3><a href="{{ site.baseurl }}{{ post.url }}">{% include document-icon.html icon=post.type %}{{ post.title }}</a></h3>
            <p class="description">{{ post.description }}</p>
          </li>
       {% endfor %}
    </ul>
</section>
