---
permalink: /category/security/
---

{% assign announcements = site.posts | where: "categories", "security" | sort: "title" %}

<h2>Security <span class="count">({{ security | size }})</span></h2>
 

<section class="category">
    <ul class="listing">
       {% for post in site.categories.security %}
          <li>
            <h3><a href="{{ site.baseurl }}{{ post.url }}">{% include document-icon.html icon=post.type %}{{ post.title }}</a></h3>
            <p class="description">{{ post.description }}</p>
          </li>
       {% endfor %}
    </ul>
</section>
