<footer>
	<div class="wrapper">
		<ul class="footer-links">
			{% for link in site.data.footer %}
				<li><a {% if link.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=link.link %}" {% if link.social_icon %}class="{{ link.social_icon }}-icon"{% endif %}>
					{% if link.social_icon %}
						{% include social-icon.html icon=link.social_icon %}
					{% endif %}
					{{ link.name }}</a></li>
			{% endfor %}
		</ul>
		<p class="copyright">&copy; Agawam Public Schools</p>
	</div>
</footer>

<script data-jsd-embedded data-key="266e65d2-7447-4c73-adcc-3e1e13eb24ad" data-base-url="https://jsd-widget.atlassian.com" src="https://jsd-widget.atlassian.com/assets/embed.js"></script>
