---
layout: default
---

<h2 style="text-transform:capitalize;">{{ page.title | replace: "-", " " }} <span class="count">({{ posts | size }})</span></h2>

<div class="blog list">
    {% for post in site.categories[page.tag] %}
        {% include listings.html listings=posts %}
    {% endfor %}
</div>

<hr />

{% assign categories = site.categories | sort %}
	{% for category in categories %}
		{% assign name = category[0] %}
		{% assign posts = category[1] %}
		{% assign size = posts | size %}
		<section class="category">
				<h3>
					{{ name | replace: "-", " " }}
				</h3>

			<ul>
				{% assign tutorials = posts | sort: "title" %}
					<li><a href="{{ site.baseurl }}{{ tutorial.url }}">{% include document-icon.html icon=tutorial.type %}{{ tutorial.title }}</a></li>
			</ul>
		</section>
	{% endfor %}

